# IMDB Movie Dataset Cleaning

### Import Pandas Library

In [20]:
import pandas as pd

### Read the data file

In [21]:
df = pd.read_csv(r"datasource/imdb_movies.csv", encoding='unicode_escape', low_memory=False)
df.sample(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
64433,tt2088924,The Cold Lands,The Cold Lands,2013,2014-03-14,Drama,100,USA,English,Tom Gilroy,Tom Gilroy,Cinereach,"Lili Taylor, Silas Yelich, Maggie Low, Deb Mon...",When his self-reliant mother dies unexpectedly...,6.2,459,NaN,NaN,NaN,66.0,4.0,12.0
12442,tt0059794,Quello strano sentimento,That Funny Feeling,1965,1965-08-25,"Comedy, Romance",93,USA,English,Richard Thorpe,"David R. Schwartz, Norman Barasch",Universal Pictures,"Sandra Dee, Bobby Darin, Donald O'Connor, Nita...","Joan Howell, a young and pretty maid-for-hire,...",6.8,793,NaN,NaN,NaN,NaN,13.0,3.0

### Set the column width to maximum to display all the columns

In [22]:
# Display all the columns and rows
pd.set_option('display.max_columns',None)
df.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

### Analyze the dataset
- Check the data types
- Check the number of records and number of columns

In [23]:
rows, columns = df.shape
print(f"Total Rows present are : {rows}, and total Columns are : {columns}")

Total Rows present are : 85855, and total Columns are : 22

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               84954 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

# Data Cleaning Process

### Creating copy of the data

In [25]:
mv = df.copy()
mv.sample(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
66283,tt2321501,Saturday Morning Massacre,Saturday Morning Massacre,2012,2012-06-16,Horror,88,USA,English,Spencer Parsons,"Kat Candler, Jonny Mars",Arts+Labor,"Jonny Mars, Josephine Decker, Adam Wyatt Tate,...",A dark and bloody parody about a Scooby-Doo-li...,4.4,800,NaN,NaN,NaN,NaN,17.0,31.0
59235,tt1540767,1303: La paura ha inizio,Apartment 1303 3D,2012,2014-06-12,Horror,85,"Canada, USA",English,Michael Taverna,"Kei Ôishi, Michael Taverna",1303 Productions,"Mischa Barton, Julianne Michelle, Rebecca De M...",A modern ghost story which turns a love/hate r...,2.5,5547,$ 5000000,NaN,$ 3377891,NaN,98.0,42.0

### Column: [imdb_title_id]

In [27]:
mv['imdb_title_id'].unique()

array(['tt0000009', 'tt0000574', 'tt0001892', ..., 'tt9911774',
       'tt9914286', 'tt9914942'], dtype=object)