# IMDB Movie Dataset Cleaning

### Import Pandas Library

In [1]:
import pandas as pd

### Read the data file

In [8]:
df = pd.read_csv(r"datasource/imdb_movies.csv", encoding='unicode_escape', low_memory=False)
df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
47495,tt0455824,Australia,Australia,2008,2009-01-16,"Adventure, Comedy, Drama",165,"UK, Australia, USA","English, Aboriginal, Chinese, Japanese",Baz Luhrmann,...,"Shea Adams, Eddie Baroo, Ray Barrett, Tony Bar...","Set in northern Australia before World War II,...",6.6,117975,$ 130000000,$ 49554002,$ 211787511,53.0,480.0,241.0
1679,tt0024570,Sitting Pretty,Sitting Pretty,1933,1933-11-24,Musical,85,USA,English,Harry Joe Brown,...,"Jack Oakie, Jack Haley, Ginger Rogers, Gregory...",Chick Parker and Pete Pendleton are songwriter...,6.2,123,NaN,NaN,NaN,NaN,6.0,1.0
66393,tt2332514,La fille de nulle part,La fille de nulle part,2012,2013-02-06,"Drama, Horror, Mystery",91,France,French,Jean-Claude Brisseau,...,"Virginie Legeay, Claude Morel, Lise Bellynck, ...","Michel, a retired math teacher, has lived alon...",6.2,667,EUR 62000,NaN,NaN,NaN,6.0,27.0
49182,tt0493421,Cartolina d'estate,Greetings from the Shore,2007,2007-08-28,"Comedy, Drama, Romance",116,USA,English,Greg Chwerchak,...,"Kim Shaw, Paul Sorvino, David Fumero, Jay O. S...","Still reeling from the death of her father, a ...",5.9,539,NaN,$ 96314,$ 96314,NaN,9.0,15.0
78768,tt5815940,Gentleman,Gentleman,2016,2016-06-17,"Mystery, Romance, Thriller",144,India,Telugu,"Mohana Krishna Indraganti, Mohana Krishna Indr...",...,"Nani, Surabhi, Vennela Kishore, Tanikella Bhar...",Catherine finds herself in a web of deception ...,7.1,1575,NaN,$ 897876,$ 923884,NaN,4.0,4.0

### Set the column width to maximum to display all the columns

In [11]:
# Display all the columns and rows
pd.set_option('display.max_columns',None)
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0